---
---

@import "{{ site.theme }}";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif Display", serif;
}

/* sticky */
.sticky_nav {
  padding: 0;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 2px -2px rgba(174, 174, 174, 0.2);
}

/* header */
header {
  background-color: #afbb25;
  width: 100%;
  padding: 1rem;
}

header h1 {
  color: white;
  font-size: 2rem;
}

nav {
  background-color: white;
}

nav ul {
  display: flex;
  padding-left: 1rem;
  list-style-type: none;
}
nav ul li {
  padding: 0.5rem 0.75rem;
}

nav ul li a {
  color: #616a2c;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul li a:hover {
  color: #e57d26;
  font-size: 1.3rem;
  transition: all 0.25s ease;
}

nav ul li a i {
  font-size: 1.6rem;
}

main {
  width: 100%;
  min-height: 90vh;
  display: flex;
}

section {
  padding: 0.7rem 0rem;
}

/* footer */
footer {
  background-color: #afbb25;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer h3,
h4 {
  color: white;
  padding: 0.2rem;
}

/* footer nav bar */
footer nav.links {
  padding: 0.5rem;
  background-color: #afbb25;
}

footer > nav > a {
  text-decoration: none;
  padding: 0.5rem;
}
