.content {
    margin:0;
    justify-content:space-evenly;
    align-items:center;
    display:flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.sections {
    align-items: center;
    justify-content:space-around;
    margin: 0 auto;
    padding: 5px 10px;
    color: #00539f;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    
}

.paras{
    font-size: 1rem;
    line-height: 1.6;
    justify-content:center;
    align-items:center;
}

