* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #AFBB25;
    width: 100%;
    padding: 1rem;
}

header h1 {
    color: white;
}

nav {
    background-color: #ffffff;
}

nav ul {
    display: flex;
    padding-left: 1rem;
    list-style-type: none;
}
nav ul li {
    padding: 0.5rem 0.75rem;
}

nav ul li a {
    color: rgb(7, 95, 24);
    text-decoration: none;
    font-size: 1.25rem;
}

nav ul li a:hover {
    color: rgb(255, 173, 50);
    font-size: 1.3rem;
    transition: all 0.25s ease;
}

nav ul li a i {
    font-size: 1.6rem;
}

main {
    width: 100%;
    min-height: 90vh;
    display: flex;
}

section {
    padding: 0.7rem 0rem;
}

footer {
    background-color: #0f8944;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer h3 {
    color: white;
}

footer section {
    color: white;
}
